ASSEMBLER=64tass
TOKENIZER=/Users/zaphod/vice/bin/petcat
EMULATOR=/Users/zaphod/vice/x64sc.app/Contents/MacOS/x64sc

ASM_PATH=./asm/hello
BASIC_PATH=./basic/token

REPL_TEST_ASSEMBLER='call-tool assemble_program {"file":"hello_world.asm", "args": ["-a", "--cbm-prg"]}'
REPL_TEST_TOKENIZER='call-tool tokenize_program {"file":"token_test.bas", "args": ["-w2"]}'
REPL_TEST_EMULATOR='call-tool run_program {"file":"token_test.prg", "path":"/Users/zaphod/Projects/mcp-c64/basic/token", "args": ["--exitscreenshot","token_test.png"]}'
